.navbar-container {
	@include stickyNav;
	@include flex-center(row, space-around);
	height: 10vh;
	width: 100%;
	z-index: 10;
	h1 {
		width: 200px;
		text-align: end;
	}

	a,
	h1 {
		color: white;
	}
	.navbar-ul {
		@include flex-center(row, flex-end);
		margin-right: 25px;
		width: 100%;
	}
	.navbar-li {
		margin: 0.5rem;
	}
	.toggle-container-dark {
		@include dark;
		max-height: 50px;
		font-size: 3rem;
	}
	.toggle-container-light {
		@include light;
		font-size: 3rem;
		max-height: 50px;
	}
}
