$container-height: 100vh;
$root-font-size: 10px;
$gradient-light: linear-gradient(33deg, #f7f7f7, #43a8fa);
$gradient-dark: linear-gradient(33deg, #121317, #323b42);
$border: 1px solid black;
$search-bar-height: 75px;
